.alert-success {
  background-color: greenyellow;
}

.alert-danger {
  background-color: red;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: 700;
}
